/*.container {
    margin: 70px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  
   
}*/
.container {
    
  
}
.ft{
  margin-top: 5px;
    
  margin: 70px;
  margin-bottom: 0.5px;
  align-items: center;
   width: 70%;
   max-width: 70%;
   height: 80%;
   justify-content: center;
   margin-top: 1px;
   
   background-color: #333;
}
.ft img {
  /* margin-top: 30px;
  margin: 70px; */
  justify-content: cente;
  width: 80%;
  height: 80%;
  padding: 30px;
}
/* .container img{
    padding: 1px;
    min-width: 50%;
    min-height: 50%;
} */

/* .ft  {
    width: 10px;
} */