:root{
  --cor: #8AF4FF;
  --cor1: #7CDBE6;
  --cor2: #67B6BF;
  --cor3: #457A80;
  --cor4: #223D40;
  
}
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor3);
}
header {
  background-color: var(--cor2);
}
